.Places h1 {
  text-align: left;
  font-size: 30px;
}
.Places div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5aff;
  border-radius: 4px;
  position: relative;
}
.Places article h2 {
  font-size: 30px;
  text-align: center;
  position: relative;
  margin-top: 2px;
}
